.mypy_cache
local-scratchpads
venv*
.venv
.idea
.vs
notebooks/.ipynb_checkpoints
doc/_build
build
dist
pyzx.egg-info
*.pyc
.vscode
*.class
*.ipynb_checkpoints
pyzx/js/d3.v5.js
*~lib/*

*.egg
*.egg-info/
.eggs/

*/test_graphs/*

frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.next/
frontend/.env.local

frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontendnpm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# env files (can opt-in for committing if needed)
frontend/.env*

# vercel
/frontend.vercel

# typescript
frontend/*.tsbuildinfo
frontend/next-env.d.ts
